.container-fluid{
    padding-left: 3.5rem;
    padding-right: 4rem;
font-family: "Didact Gothic", sans-serif;
    font-size: 0.9rem;
}
.navbar{
    display: flex;
}
.logo img{
    height: 2rem;
}

.navbar-nav{
    gap: 1rem;
}

.nav-link:hover{
    background-color: black;
  color: white
}
.login button:hover{
  background-color: black;
  color: white;
}



/* Default: mobile styles */

@media (min-width: 400px) {
  /* extra-small screens */
  .navbar{
    display: flex;
  }
  .container-fluid{
    gap: 5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: white;
    font-size: 0.6rem;
    display: flex;
}
  .logo img{
    height: 1.1rem;
}
}

@media (min-width: 576px) {
  /* small screens */
  .container-fluid{
font-size: 0.7rem;
  }
  .logo img{
    height: 2rem;
}
}

@media (min-width: 768px) {
  /* tablets */
  .container-fluid{
    gap: 0;
    font-size: 0.9rem;
  }
  .logo img{
    height: 1.2rem;
  }
}

@media (min-width: 992px) {
  /* laptops */
    .container-fluid{
font-size: 0.8rem;
gap: 9rem;
  }
  .logo img{
    height: 1.5rem;
}
}

@media (min-width: 1200px) {
  /* large desktops */
     .container-fluid{
font-size: 0.9rem;
gap: 12rem;
  }
  .navbar-nav{
    gap: 1.4rem;
}
  .logo img{
    height: 2rem;
}


@media (min-width: 1200px) {
  /* large desktops */
     .container-fluid{
font-size: 0.9rem;
gap: 13.5rem;
  padding-left: 3.5rem;
    padding-right: 4rem;
  }
  .navbar-nav{
    gap: 1rem;
}
  .logo img{
    height: 2.8rem;
}
.login button{
  margin-top: 1rem;
 width: 10.5rem;
 height: 2rem;
 padding-top: 0.2rem;
 padding-bottom: 0;
 padding-left: 0.8rem;
  display: flex;
  background-color: white;
  border-radius: 8px;
}
}
}
